

:local(.PhotoPost)
  display: flex
  font-size: 14px
  line-height: 18px
  background: white
  border-radius: 3px
  margin-bottom: 60px
  flex-direction: column
  border: 1px solid #edeeee

  header
    height: 64px
    display: flex
    padding: 14px 20px
    align-items: center
    box-sizing: border-box

    img.OwnerAvatar
      width: 30px
      height: 30px
      display: flex
      flex-basis: 30px
      border-radius: 50%
      background: #fbfbfb
      box-sizing: border-box
      border: 1px solid #cccfd0
      margin: -1px 10px -1px -5px

    .Owner
      flex: 1
      display: flex

      a
        color: #125688
        font-weight: 500
        text-decoration: none
        display: inline-block
        &:hover
          color: #0d3c5f

    a.Reference
      color: gray
      font-weight: 500
      text-decoration: none

  .Media
    display: flex

  .Info
    display: flex
    padding: 0 24px
    flex-direction: column

    section
      display: flex
      flex-direction: column

      &:first-child
        margin-top: 21px
        margin-bottom: 7px

      &:last-child
        margin-top: 13px
        margin-bottom: 0

      &.Likes
        color: #4b4f54
        font-weight: 600

      &.WriteNewComment
        min-height: 70px
        align-items: center
        flex-direction: row
        border-top: 1px solid #eeefef

        figure
          margin: 0
          padding: 0
          width: 44px
          height: 44px
          cursor: pointer

          svg
            width: 32px
            height: 32px
            padding: 6px

            path
              stroke: #A6A8A8
              fill: transparent

          &.Liked
            svg path
              stroke: none
              fill: #F12938

        .CommentForm
          flex: 1
          display: flex
          align-items: stretch
          flex-direction: column

          input
            display: flex
            font-size: 15px
            line-height: 18px
            border: none
            outline: none
            background: none

            &:active
            &:focus
              outline: none


      &.Comments
        .comment
          font-size: 15px
          line-height: 18px
          margin-bottom: 7px
          word-wrap: break-word

          h1
            margin: 0
            padding: 0
            font-size: 15px
            margin-right: 6px
            display: inline-block

          a
            color: #125688
            text-decoration: none




