{
  "plugins": [
    "styled-name",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ]
}
